<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/about_style.css">
</head>
<body>

<div class="logo">
    <div class="Childhelp-logo">
        <img src="stylesheets/logo1.jpg" alt="logo">
    </div>
</div>

<section class="about">
    <div class="about-img">
        <img src="stylesheets/about.jpg" alt="about"style="width:100%;">

    <h1 style="color: #ffffff;text-align: center" class="vc_custom_heading">About Childhelp</h1>
    <p style="color: #ffffff;text-align: center" class="vc_custom_heading">The nation's oldest & largest non profit fighting child abuse and neglect.</p>
    </div>
</section>





<div class="what-we-stand-for">
    <div class="image">
        <img src="stylesheets/child_with_toy.jpg" alt="child_with_toy">
    </div>
    <div class="text">
        <h1>What do we stand for?</h1>
        <p>Childhelp exists to meet the physical, emotional, educational and spiritual needs of abused, neglected and at-risk children.

            Childhelp believes that every child has a unique contribution to make to the world, and deserves the best that we can provide. We believe unconditional love is the foundation on which all healing begins, and that is why we are dedicated to ensuring all children, families and communities live in safe, stable, supportive, and nurturing environments that are equitable, inclusive, and free of abuse and neglect.

            At Childhelp,“All Who Enter Here Will Find Love.”.</p>
    </div>
</div>






<div class="toy-clothing-desc">
    <div class="image2">
        <img src="stylesheets/toy_drive.jpg" alt="toy_drive">
    </div>
    <div class="text2">
        <h2>Why are clothing and toy drives needed?</h2>
        <p>By donating toys and gently wore clothing items, not only does it provide a second life for used items,
            but can significantly impact a child's life. There are thousands of children nationwide who do not have the means
            to afford toys and/or clothing items. By sending your donations to ChildHelp, you are bringing joy and happiness to
            our children in need.</p>
    </div>
</div>





<div class="what-is-accepted">
    <h3>What are we accepting?</h3>
    <p class="bold-paragraph">ChildHelp is currently seeking out donations in the following categories:</p>
    <ol>1. new or gently used clothing for kids and baby</ol>
    <ol>2. new or used children's toys</ol>
    <ol>3. shoes, socks, winter clothing, sports uniforms</ol>
    <ol>4. boardgames, puzzles, children's books</ol>
    <ol>5. sports gear, equipment</ol>
</div>
<section class="display-about">
<h4 style="text-align:center">Meet Our Team</h4>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="stylesheets/sara.jpg" alt="sara">
            <div class="container">
                <h4>Jane Doe</h4>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="stylesheets/yvonne.jpg" alt="yvonne">
            <div class="container">
                <h2>Mike Ross</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="stylesheets/michael.jpg" alt="michael">
            <div class="container">
                <h2>John Doe</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
</section>
</body>
</html>
