<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

  <title>location and contact info</title>
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  <link rel="stylesheet" type="text/css" href="demo.css" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
  <link rel="stylesheet" type="text/css" href="../template.css" />
  <link rel="stylesheet" href="./stylesheets/mymap.css">
  <link rel="stylesheet" href="./stylesheets/style.css">

  <script type="text/javascript" src='../test-credentials.js'></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
  <style>
    #map { width: 700px; height: 600px; }
  </style>
</head>
<body>

<header>

  <h1 class="main-header">
    <img src="stylesheets/logo.jpg" alt="logo" style="padding-right: 20px; width: 160px; ">
    Toy and Clothing Inventory
  </h1>

  <nav class="nav-style">
    <section class="nav-left">
      <a href="/homepage">Home </a>
      <a href="./about">About Us</a>
      <a href="./partners">Our Partners and Collaborators</a>
      <a href="./stories">Our Impact</a>
      <a href="./mymap">Location and Contact Info</a>

    </section>

    <section class="nav-right">
      <p>Want to view our inventory? </p>
      <a href="./login">Login </a>
      <a href="./signup">Sign Up </a>
    </section>
  </nav>
</header>

</section>
<section class="partners">
  <div class="partner-img">
    <img src="stylesheets/team_img.jpg" alt="team">
  </div>
  <div class="overlay-text">Location and Contact Info</div>
  <div class="overlay-text2">We would love to have you visit us or contact us with any questions or comments</div>
</section>


<div class="story-1">
  <div id="map"></div>

  <div class="text">
    <h1>Visit us at our location </h1><br>
    <p>Our address is:6730 N Scottsdale Rd STE 150, Scottsdale, AZ 85253, United States</p>

  </div>

</div>




<div class="contact_info">
  <div class="text">
    <h1>Contact Us</h1><br>
    <p>
    <div class="contact"> Childhelp National Child Abuse Hotline:</div>
      1-800-422-4453
      (Speak to a Counselor)
      Live chat with professional counselors:
      www.childhelphotline.org
      Donations (and help with donations):
      gifts@childhelp.org
      Media / PR:
      Meghan Krein | Director of Communications & PR
      mkrein@childhelp.org
      Call Us
      (480) 922-8212
      .</p>
  </div>
</div>


<script type="text/javascript">
  /**
   * Adds markers to the map highlighting the locations of the capitals of
   * France, Italy, Germany, Spain, and the United Kingdom.
   *
   * @param  {H.Map} map      A HERE Map instance within the application
   */
  function addMarkersToMap(map) {
    var childhelpMarker = new H.map.Marker({ lat: 33.5353429, lng: -111.9266634 });
    map.addObject(childhelpMarker);

  }

  // Step 1: initialize communication with the platform
  // In your own code, replace variable window.apikey with your own apikey
  var platform = new H.service.Platform({
    apikey: 'sxQACMxmTLKY_8UXf7fClgj_xv8fjuIeplMx6OM-ET4'
  });
  var defaultLayers = platform.createDefaultLayers();

  // Step 2: initialize a map - this map is centered over Europe
  var map = new H.Map(document.getElementById('map'),
          defaultLayers.vector.normal.map, {
            center: { lat: 33.53, lng: -111.92 },
            zoom: 10,
            pixelRatio: window.devicePixelRatio || 1
          });
  // add a resize listener to make sure that the map occupies the whole container
  window.addEventListener('resize', () => map.getViewPort().resize());

  // Step 3: make the map interactive
  // MapEvents enables the event system
  // Behavior implements default interactions for pan/zoom (also on mobile touch environments)
  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

  // Create the default UI components
  var ui = H.ui.UI.createDefault(map, defaultLayers);

  // Now use the map as required...
  window.onload = function () {
    addMarkersToMap(map);
  }
  function redirectTo123() {
    window.location.href = "https://www.childhelp.org/contact/";
  }
</script>
</body>
</html>
