<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./stylesheets/partners.css">
</head>
<body>
<div class="logo">
    <div class="Childhelp-logo">
        <img src="stylesheets/logo1.jpg" alt="logo">
    </div>
</div>

</section>
<section class="partners">
    <div class="partner-img">
        <img src="stylesheets/team.jpg" alt="team">
    </div>
</section>


<section class="display-partners">
<h2 style="text-align:center">Meet our partners and collaborators</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="stylesheets/XYZ.jpg" alt="xyz">

                <h4>XYZ company</h4>
                <p class="title">local charity</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>

                <p><button class="button" onclick="redirectToXYZ()">Visit us</button></p>

        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="stylesheets/ABC.jpg" alt="abc">

                <h2>ABC company </h2>
                <p class="title">company type</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>

                <p><button class="button" onclick="redirectToABC()">Visit us</button></p>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="stylesheets/123.jpg" alt="123">
            <div class="container">
                <h2>123 company</h2>
                <p class="title">company type</p>
                <p> lorem ipsum ipsum lorem.</p>
                <p><button class="button" onclick="redirectTo123()">Visit us</button></p>

            </div>
        </div>
    </div>
</div>
</section>
<script>
    function redirectToXYZ() {
        window.location.href = "https://www.childhelp.org/";
    }
    function redirectToABC() {
        window.location.href = "https://www.childhelp.org/";
    }
    function redirectTo123() {
        window.location.href = "https://www.childhelp.org/";
    }
</script>
</body>
</html>
