
body {
    font-family: 'Arial', sans-serif;
    /*background-image: url(/img/login.jpeg);*/
    background-size: 100%;
}

h1 {
    color: #333;
}

.form-control-lg {
    border-radius: 20px;
}

.btn-primary {
    background-color: #92d293c6;
    border: none;
    border-radius: 20px;
}

.btn-primary .fa-facebook-f {
    margin-right: 10px;
    
}

.btn-primary .fa-google {
    margin-right: 10px;
    

}

a.btn[type="button"] {
    color: #fff;
    justify-content: center;
    align-items: center;
    display: flex;
}



.error-message p {
    margin-top: 20px;
}
