* {
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.main-header {
    background-color: #6B2470;
    color: white;
    padding: 20px;
    text-align: center; 
}

.nav-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4736E;
    padding: 15px;
}

.nav-style a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-style a:hover {
    background-color: #FFD3D0;
    color: black;
}

.nav-right p,
.nav-right a {
    margin-left: 10px;
    color:white;
}

.nav-right p {
    display: inline;
    margin: 10px 20px 10px 0; 
}


footer {
    background-color: #6B2470; 
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%; 
}
